body {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
}

#container {
    height: 700px;
}

#containerForm {
    margin-top: 160px;
}

.register {
    text-align: center;
    margin-bottom: 35px;
}

label {
    float: right;
    margin-right: 347px;
    margin-bottom: -17px;
    position: relative;
    margin-top: -18px;
}

#unity {
    margin-right: 317px;
}

.informationField {
    height: 45px;
    width: 30%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 20px;

}

select:invalid {
    color: gray;
    font-weight: bolder;
}

#contact {
    margin-bottom: 0;
    font-weight: bolder;
}

.checkbox {
    display: block;
    width: 120px;
    /* margin-left: 10px; */
    text-align: initial;
    margin: auto;
    padding-left: 40px
}

#submit {
    height: 50px;
    width: 170px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #1E90FF;
    margin: auto;
    margin-top: 15px;
}

#submit:hover {
    background-image: linear-gradient(to right, red, transparent, blue );
    position: relative;
    top: 1px;
    left: 1px;
    text-shadow: 0 0 4px #fff;
}

footer {
    background-color: #363636;
    height: 100px;
    margin-top: -16px;
}

.footerContainer {
    text-align: center;
    transform: translateY(10px);
}

a {
    text-decoration: none;
    color: #F8F8FF;
    font-size: 11px;

}

span {
    color: #F8F8FF;
    font-size: 15px;
}

#copy {
    text-align: center;
    background-color: black;
    margin-top: 23px;
    height: 40px;
}

#copy span {
line-height: 40px;
font-size: 13px;
}
